button{
    height: 30mm;
    width: 30mm;
    border: 3px;
    background-color: 	#87CEFA;
    border-radius: 100px;
}
.segitiga{
    text-align: right;
}
.persegi{
    text-align: center;
}
.lingkaran{
    text-align: left;
}
body{
    background: #00BFFF
}
.h7{
  margin-top: 50%;  
}